:root {
    /* Based on  https://github.com/MetroWind/flucui-theme */
    --background: #ecf0f1;
    --selection: #44475a;
    --comment: #6272a4;
    --foreground: #425d78;
    --red: #e74c3c;
    --orange: #e67e22;
    --yellow: #f1c40f;
    --green: #2ecc71;
    --cyan: #3498db;
    --purple: #9b59b6;

    --tridactyl-fg: var(--foreground);
    --tridactyl-bg: var(--background);
    --tridactyl-url-fg: var(--foreground);
    --tridactyl-url-bg: var(--background);
    --tridactyl-highlight-box-bg: var(--selection);
    --tridactyl-highlight-box-fg: var(--foreground);

    /* Hint character tags */
    --tridactyl-hintspan-fg: var(--foreground) !important;
    --tridactyl-hintspan-bg: var(--background) !important;

    /* Element Highlights */
    --tridactyl-hint-active-fg: none;
    --tridactyl-hint-active-bg: none;
    --tridactyl-hint-active-outline: none;
    --tridactyl-hint-bg: --background;
    --tridactyl-hint-fg: --foreground;
    --tridactyl-hint-outline: none;
    --tridactyl-hint-outline: none;

    --tridactyl-fg: var(--foreground);
    --tridactyl-bg: var(--background);

    --tridactyl-cmdl-fg: var(--foreground);
    --tridactyl-cmdl-bg: var(--background);


    --tridactyl-url-fg: var(--comment);
    --tridactyl-url-bg: var(--background);

    --tridactyl-of-fg: var(--foreground);
    --tridactyl-of-bg: var(--selection);


    --tridactyl-highlight-box-bg: var(--background);
    --tridactyl-highlight-box-fg: var(--foreground);
}

#completions {
    border-top: 4px solid var(--foreground);
    font-family: Iosevka;
    font-size: 12pt;
}

#completions .sectionHeader {
    display: none !important;
}
